/* ADMIN */
.admin-view { margin-left: 450px; padding-left: 40px; padding-top: 80px; padding-bottom: 80px; overflow-x: hidden; }
.admin-view .content { max-width: 960px; }
.admin-view .content h2 { font-size: 30px; font-weight: 600; margin-bottom: 55px; }

#product-upload-section .product-upload .display-flex { gap: 60px; margin-bottom: 150px; }
#product-upload-section .product-upload .column { position: relative; display: flex; flex-direction: column; gap: 30px; width: 100%; }
#product-upload-section .product-upload .column .two-columns { display: flex; gap: 15px; }
#product-upload-section .product-upload .column:nth-child(2){ width: 414px; }
#product-upload-section .product-upload .column figure { width: 100%; height: 373px; }
#product-upload-section .product-upload .column img#loaded-img { width: 100%; height: 100%; object-fit: cover; }
#product-upload-section .product-upload .column img.logo-flower { position: absolute; top: 30px; right: -40px; width: 100px; transform: rotate(22deg); }
#product-upload-img{ display: none; }
#product-upload-section #img-gallery{ visibility: hidden; opacity: 0; transition: all .3s; position: fixed; top: 0; left: 0; z-index: 100; height: 100vh; width: 100%; overflow: auto; }
#product-upload-section #img-gallery::-webkit-scrollbar-thumb { background-color: var(--secondary); border-radius: 10px; }
#product-upload-section #img-gallery::before{ content: ""; display: block; background: #000000cf; height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: -1; }
#product-upload-section #img-gallery ul{ width: 100%; padding: 70px 0; max-width: 1140px; margin: 0 auto; display: flex; flex-wrap: wrap; gap: 40px; justify-content: space-between; }
#product-upload-section #img-gallery ul li{ width: 30%; overflow: hidden; height: 350px; cursor: pointer; border: 0; transition: all .3s; }
#product-upload-section #img-gallery ul li img{ height: 100%; width: 100%; object-fit: cover; }
#product-upload-section #img-gallery ul li:hover{ border: var(--primary) 6px solid; }
#product-upload-section #img-gallery i{ position: absolute; top: 40px; right: 40px; color: #FFF; font-size: 28px; transition: all .3s; cursor: pointer; }
#product-upload-section #img-gallery i:hover{ color: var(--secondary); }
#product-upload-section #img-gallery.show{ visibility: visible; opacity: 1; }

/*Tables*/
#product-upload-section .table { overflow-x: scroll; }
#product-upload-section .table .row { min-width: 900px; }
#product-upload-section .table .row .column:nth-child(1) { min-width: 300px; }
#product-upload-section .table .row .column:nth-child(3) { max-width: 120px;}
#product-upload-section .table .row .column:nth-child(4),
#product-upload-section .table .row .column:nth-child(5) { max-width: 170px;  justify-content: end; }

#earnings-report-section .table .row .column:nth-child(2) { max-width: 100px; }
#earnings-report-section .table .row .column:nth-child(3) { max-width: 150px; }
#earnings-report-section .table .row .column:nth-child(4) { max-width: 150px; justify-content: end; }

#admin-view .list-of-orders li .left { width: 115px; height: 130px; object-fit: cover; }
#purchase-approval-section .list-tabs-orders { margin-top: 90px; }
#purchase-approval-section .list-of-orders { max-width: 860px; }
#purchase-approval-section .list-of-orders li .right .bottom-wrapper .pending { display: none; }
#purchase-approval-section .list-of-orders li .right .bottom-wrapper .pending { display: flex; gap: 10px; }
#purchase-approval-section .list-of-orders li.approved .btn-purchase,
#purchase-approval-section .list-of-orders li.cancelled .btn-purchase { display: none; }

#totalEarnings { display: flex; justify-content: end; margin-top: 30px; padding-right: 15px; font-size: 18px; color: var(--primary); }

/*Profile*/
#profile-section h2 { color: var(--primary); }
#profile-section ul { margin-bottom: 40px; }
#profile-section ul li { display: flex; }
#profile-section ul li p:first-of-type { width: 300px; }
#profile-section ul li p:nth-of-type(2) { width: 200px; }