/*User Registration*/
.user-registration { min-height: 100vh; height: 100%; width: 100%; background-image: url("../img/bg-register.png"); background-position: center -35px; background-repeat: no-repeat; background-size: cover; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.user-registration::after { content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #00000070; }
.user-registration .img-wrapper { position: relative; z-index: 2; display: flex; align-items: center; justify-content: center; gap: 8px; margin-bottom: 60px; }
.user-registration .img-wrapper img { max-width: 60px; }
.user-registration .img-wrapper .vertical-line { display: block; height: 65px; width: 1px; background-color: var(--white); }
.user-registration .content { position: relative; z-index: 2; max-width: 570px; background-color: var(--black); padding: 65px; display: flex; flex-direction: column; align-items: center; }
.user-registration .content h1 { font-size: 17px; color: var(--secondary); text-transform: uppercase; font-weight: 600; text-align: center; margin-bottom: 50px; }
.user-registration .content form { width: 100%; max-width: 335px; display: flex; flex-direction: column; gap: 24px; }
.user-registration .content form .input-wrapper { display: flex; flex-direction: column; }
.user-registration .content form .input-wrapper .credit-card-wrapper { display: flex; align-items: center; margin-top: 10px; gap: 2px; width: 100%; }
.user-registration .content form .input-wrapper .credit-card-wrapper input { width: 100%; border: none; border-bottom: 1px solid var(--white); border-radius: 0; padding: 4px; text-align: center; transition: all 0.3s; }
.user-registration .content form .input-wrapper .credit-card-wrapper input:focus { outline: none; border-bottom: 1px solid var(--secondary); }
.user-registration .content form .input-wrapper.input-cvc { flex-direction: row; align-items: center; gap: 20px; }
.user-registration .content form .input-wrapper.input-cvc input { width: 65px; }

/*User Login*/
.user-login { min-height: 100vh; height: 100%; width: 100%; background-color: var(--black); display: flex; }
.user-login .left { width: 50%; display: flex; align-items: center; justify-content: center; }
.user-login .left .content { max-width: 335px; margin-top: -80px; }
.user-login .left .content .img-wrapper { display: flex; flex-direction: column; align-items: center; gap: 30px; margin-bottom: 100px; }
.user-login .left .content .img-wrapper img { width: 60px; }
.user-login .left .content form { width: 100%; max-width: 335px; display: flex; flex-direction: column; gap: 24px; }
.user-login .left .content form .radio-inputs-wrapper { display: flex; align-items: center; gap: 20px; }
.user-login .right { width: 50%; background-image: url("../img/login.png"); background-position: center -70px; background-repeat: no-repeat; background-size: cover; position: relative; }
.user-login .right::after { content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #00000070; }

/*Lisf of Products*/

/*Hero*/
.list-of-products { height: auto; }
.list-of-products .hero-bg { height: 695px; width: 100%; position: relative; }
.list-of-products .hero-bg .video-container { position: absolute; z-index: -1; width: 100%; height: 100%; }
.list-of-products .hero-bg .video-container::after { content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #00000070; }
.list-of-products .hero-bg .video-container video { object-fit: cover; width: 100%; height: 100%; }
.list-of-products .hero-bg .content { display: flex; align-items: center; justify-content: space-around; height: 100%; }
.list-of-products .hero-bg .content .hero-left { display: flex; flex-direction: column; position: relative; top: 230px; left: -50px; }
.list-of-products .hero-bg .content .hero-left h1 { font-size: 35px; font-weight: 700; line-height: 1.5; margin-bottom: 40px; text-transform: uppercase; }
.list-of-products .hero-bg .content .hero-left h1 span { display: block; }
.list-of-products .hero-bg .content .hero-left img { width: 240px; }
.list-of-products .hero-bg .content .hero-right { display: flex; flex-direction: column; position: relative; top: -80px; right: -50px; }
.list-of-products .hero-bg .content .hero-right .korn-guitar { width: 240px; }
.list-of-products .hero-bg .content .hero-right .logo-flower { position: absolute; bottom: 15px; left: -35px; width: 90px; }

/*Main Products*/
.list-of-products .main-products { padding: 100px 0; background-color: #0a0a0a; }
.list-of-products .main-products h2 { font-size: 35px; font-weight: 700; line-height: 1.5; margin-bottom: 40px; text-transform: uppercase; text-align: right; margin-top: 60px; }
.list-of-products .main-products ul { display: flex; justify-content: space-between; gap: 40px; flex-wrap: wrap; margin-top: 100px; }
.list-of-products .main-products ul li { width: 330px; display: flex; flex-direction: column; }
.list-of-products .main-products ul li img { width: 100%; margin-bottom: 20px; }
.list-of-products .main-products ul li p { font-size: 18px; margin-bottom: 20px; }
.list-of-products .main-products ul li span { font-size: 13px; margin-bottom: 0px; }
.list-of-products .main-products ul li .number { text-align: right; font-size: 20px; }