/*****User Registration*****/
#user-registration { min-height: 100vh; height: 100%; width: 100%; background-image: url("../img/bg-register.png"); background-position: center -35px; background-repeat: no-repeat; background-size: cover; }
#user-registration::after { content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #00000070; }
#user-registration .content { display: flex; flex-direction: column; align-items: center; justify-content: center; height: inherit; min-height: inherit; }
#user-registration .content .img-wrapper { position: relative; z-index: 2; display: flex; align-items: center; justify-content: center; gap: 8px; margin-bottom: 60px; }
#user-registration .content .img-wrapper img { max-width: 60px; }
#user-registration .content .img-wrapper .vertical-line { display: block; height: 65px; width: 1px; background-color: var(--white); }
#user-registration .content .form-wrapper { position: relative; z-index: 2; max-width: 570px; width: 100%; background-color: var(--black); padding: 50px 60px; display: flex; flex-direction: column; align-items: center; }
#user-registration .content h1 { font-size: 17px; color: var(--secondary); text-transform: uppercase; font-weight: 600; text-align: center; margin-bottom: 50px; }
#user-registration .content form { width: 100%; max-width: 335px; display: flex; flex-direction: column; gap: 24px; }
#user-registration .content form .input-wrapper { display: flex; flex-direction: column; }
#user-registration .content form .input-wrapper input { width: 100%; border: none; border-bottom: 1px solid var(--white); border-radius: 0; padding: 4px; text-align: center; transition: all 0.3s; }
#user-registration .content form .input-wrapper input:focus { outline: none; border-bottom: 1px solid var(--secondary); }
#user-registration .content form .input-wrapper.input-cvc { flex-direction: row; align-items: center; gap: 20px; }
#user-registration .content form .input-wrapper.input-cvc input { width: 65px; }
#user-registration .go-to-btn { margin-top: 30px; }


/*****User Login*****/
#user-login { min-height: 100vh; height: 100%; width: 100%; background-color: var(--black); }
#user-login .left { width: 100%; display: flex; align-items: center; justify-content: center; }
#user-login .left .content { max-width: 335px; margin-top: -80px; }
#user-login .left .content .img-wrapper { display: flex; flex-direction: column; align-items: center; gap: 30px; margin-bottom: 100px; }
#user-login .left .content .img-wrapper img { width: 60px; }
#user-login .left .content .form { width: 100%; max-width: 335px; display: flex; flex-direction: column; gap: 24px; }
#user-login .left .content .form .radio-inputs-wrapper { display: flex; align-items: center; gap: 20px; }
#user-login .right { width: 100%; background-image: url("../img/login.png"); background-position: center -70px; background-repeat: no-repeat; background-size: cover; position: relative; }
#user-login .right::after { content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #00000070; }

/*****Lisf of Products*****/

/*Hero*/
#list-of-products { height: auto; margin-top: 65px; }
#list-of-products .hero-bg { height: 695px; width: 100%; position: relative; }
#list-of-products .hero-bg .video-container { position: absolute; z-index: -1; width: 100%; height: 100%; }
#list-of-products .hero-bg .video-container::after { content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #00000070; }
#list-of-products .hero-bg .video-container video { object-fit: cover; width: 100%; height: 100%; }
#list-of-products .hero-bg .content { display: flex; align-items: center; justify-content: space-around; height: 100%; }
#list-of-products .hero-bg .content .hero-left { display: flex; flex-direction: column; position: relative; top: 230px; left: -50px; }
#list-of-products .hero-bg .content .hero-left h1 { font-size: 35px; font-weight: 700; line-height: 1.5; margin-bottom: 40px; text-transform: uppercase; }
#list-of-products .hero-bg .content .hero-left h1 span { display: block; }
#list-of-products .hero-bg .content .hero-left img { width: 240px; }
#list-of-products .hero-bg .content .hero-right { display: flex; flex-direction: column; position: relative; top: -80px; right: -50px; }
#list-of-products .hero-bg .content .hero-right .korn-guitar { width: 240px; }
#list-of-products .hero-bg .content .hero-right .logo-flower { position: absolute; bottom: 15px; left: -35px; width: 90px; }

/*Main Products*/
#list-of-products .main-products { padding: 100px 0; background-color: #0a0a0a; }
#list-of-products .main-products h2 { font-size: 35px; font-weight: 700; line-height: 1.5; margin-bottom: 40px; text-transform: uppercase; text-align: right; margin-top: 60px; }
#list-of-products .main-products ul { display: flex; gap: 75px; flex-wrap: wrap; margin-top: 100px; }
#list-of-products .main-products ul li { width: 330px; display: flex; flex-direction: column; transition: all 0.3s; cursor: pointer; }
#list-of-products .main-products ul li:hover { transform: scale(1.05); }
#list-of-products .main-products ul li figure { width: 100%; height: 378px; position: relative; margin-bottom: 20px; }
#list-of-products .main-products ul li figure img { width: 100%; height: 100%; object-fit: cover; }
#list-of-products .main-products ul li figure .on-sale-state { position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; border-top: 4px solid var(--primary); border-right: 4px solid var(--primary); }
#list-of-products .main-products ul li figure .on-sale-state span { font-size: 15px; font-weight: 700; letter-spacing: 2px; color: var(--black); background-color: var(--primary); display: block; padding: 2px 14px 4px 16px; position: absolute; top: 0px; right: 0px; }
#list-of-products .main-products ul li p { font-size: 18px; margin-bottom: 20px; }
#list-of-products .main-products ul li span { font-size: 13px; margin-bottom: 0px; }
#list-of-products .main-products ul li .number { text-align: right; font-size: 20px; }
#list-of-products .main-products .input-wrapper { flex-direction: row; gap: 10px; justify-content: flex-end; align-items: center; }

/*****Product Details*****/
#product-details { background-color: #0a0a0a; padding: 50px 20px 100px; position: relative; margin-top: 65px; }
#product-details .content { display: flex; align-items: center; justify-content: space-between; max-width: 1100px; }

/*Main Detail*/
#product-details .main-detail .left { max-width: 570px; width: 100%; height: 550px; background-color: #3b3b3b; margin-right: 40px; }
#product-details .main-detail .left img { width: 100%; height: 100%; object-fit: cover; }
#product-details .main-detail .right { display: flex; flex-direction: column; justify-content: end; gap: 20px; width: 100%; max-width: 415px; margin-top: auto; position: relative; top: -60px; }
#product-details .main-detail .right h1 { font-size: 36px; font-weight: 600; text-transform: uppercase; max-width: 300px; }
#product-details .main-detail .right p { font-size: 13px; margin-bottom: 10px; }
#product-details .main-detail .right ul { display: flex; align-items: center; justify-content: space-between; gap: 10px; margin: 20px 0 70px; }
#product-details .main-detail .right ul li { width: 33%; height: 140px; background-color: #3b3b3b; }
#product-details .main-detail .right .stock { font-size: 10px; }
#product-details .main-detail .right .subtotal { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }
#product-details .main-detail .right .subtotal .wrapper-counter { display: flex; align-items: center; gap: 12px; }
#product-details .main-detail .right .subtotal .wrapper-counter .btn-minus,
#product-details .main-detail .right .subtotal .wrapper-counter .btn-plus { font-size: 20px; color: var(--white); width: 35px; height: 35px; border-radius: 50%; background-color: var(--secondary); border: 1px solid var(--secondary); display: flex; align-items: center; justify-content: center; transition: all 0.3s; }
#product-details .main-detail .right .subtotal .wrapper-counter .btn-minus:hover,
#product-details .main-detail .right .subtotal .wrapper-counter .btn-plus:hover { background-color: transparent; cursor: pointer; }
#product-details .main-detail .right .subtotal .wrapper-counter input { border: none; width: 30px; padding: 0; text-align: center; }
#product-details .main-detail .right .subtotal .number { font-size: 20px; }
#product-details #btn-buy { width: 420px; transform: translateY(-40px); margin-left: auto; }

/*Related Products*/
#product-details .related-products { padding-top: 100px; }
#product-details .related-products .content { flex-direction: column; align-items: flex-start; }
#product-details .related-products h2 { font-size: 26px; font-weight: 500; margin-bottom: 40px; text-transform: uppercase; }
#product-details .related-products ul { display: flex; justify-content: space-between; width: 100%; gap: 60px; }
#product-details .related-products ul li { display: flex; flex-direction: column; width: 33%; }
#product-details .related-products ul li p { font-size: 16px; font-weight: 600; margin: 15px 0 10px; }
#product-details .related-products ul li span { font-size: 12px; }
#product-details .related-products ul li .number { text-align: right; font-size: 20px; }

/*****Purchase Orders*****/
#purchase-orders { background-color: #0a0a0a; margin-top: 65px; }
#purchase-orders .hero { height: 390px; width: 100%; background-image: url("../img/bg-purchase.png"); background-position: center 0; background-repeat: no-repeat; background-size: cover; }
#purchase-orders .hero .content { height: 100%; display: flex; align-items: center; }
#purchase-orders .hero .content h1 { font-size: 36px; font-weight: 600; text-transform: uppercase; }

/*Tabs*/
.main-tabs-orders .content { max-width: 860px; padding: 100px 0; position: relative; }
.list-tabs-orders { display: flex; align-items: center; justify-content: center; gap: 40px; margin-bottom: 100px; width: 100%; }
.list-tabs-orders li { font-size: 20px; font-weight: 700; cursor: pointer; text-transform: uppercase; padding-bottom: 5px; transition: all 0.3s; }
.list-tabs-orders li.approved { color: var(--primary); }
.list-tabs-orders li.pending { color: var(--secondary); }
.list-tabs-orders li.cancelled { color: var(--error); }
.list-tabs-orders li.approved:hover,
.list-tabs-orders li.pending:hover,
.list-tabs-orders li.cancelled:hover { opacity: 0.8; }
.list-tabs-orders li.approved.active { border-bottom: 1px solid var(--primary); }
.list-tabs-orders li.pending.active { border-bottom: 1px solid var(--secondary); }
.list-tabs-orders li.cancelled.active { border-bottom: 1px solid var(--error); }
#btn-go-list { position: absolute; top: 25px; right: -25px; color: var(--primary); }

/*List of orders*/
.list-of-orders { display: flex; flex-direction: column; gap: 60px; width: 100%; }
.list-of-orders li { display: flex; align-items: center; justify-content: space-between; gap: 50px; width: 100%; }
.list-of-orders li .left { width: 165px; min-width: 165px; height: 155px; }
.list-of-orders li .left img { width: 100%; height: 100%; object-fit: cover; }
.list-of-orders li .right { display: flex; flex-direction: column; width: 100%; max-width: 650px; }
.list-of-orders li .right .top-wrapper { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }
.list-of-orders li .right .top-wrapper p { font-size: 14px; font-weight: 700; text-transform: uppercase; }
.list-of-orders li .right .top-wrapper i { font-size: 13px; }
.list-of-orders li .right .title-product { font-size: 18px; font-weight: 600; margin-bottom: 15px; }
.list-of-orders li .right .middle-wrapper { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }
.list-of-orders li .right .middle-wrapper .description { font-size: 13px; max-width: 500px; }
.list-of-orders li .right .middle-wrapper .middle-right { padding-top: 5px; display: flex; flex-direction: column; gap: 10px; text-align: right; font-weight: 600; }
.list-of-orders li .right .middle-wrapper .middle-right p { font-size: 15px; }
.list-of-orders li .right .bottom-wrapper { display: flex; align-items: center; justify-content: space-between; }
.list-of-orders li .right .bottom-wrapper .purchase-state { font-size: 13px; }
.list-of-orders li .right .bottom-wrapper p { font-size: 18px; font-weight: 600;}

/*Status*/
.list-of-orders li.approved .right .top-wrapper p { color: var(--primary); }
.list-of-orders li.approved .right .top-wrapper i::after { content: ""; display: block; background-image: url("../img/icon-check.png"); background-repeat: no-repeat; background-size: contain; width: 26px; height: 26px; }
.list-of-orders li.approved .right .bottom-wrapper .purchase-state { color: var(--primary); }
.list-of-orders li.pending .right .top-wrapper p { color: var(--secondary); }
.list-of-orders li.pending .right .top-wrapper i::after { content: ""; display: block; background-image: url("../img/icon-clock.png"); background-repeat: no-repeat; background-size: contain; width: 26px; height: 26px; }
.list-of-orders li.cancelled .right .top-wrapper p { color: var(--error); }
.list-of-orders li.cancelled .right .top-wrapper i::after { content: ""; display: block; background-image: url("../img/icon-cancel.png"); background-repeat: no-repeat; background-size: contain; width: 26px; height: 26px; }
.list-of-orders li.cancelled .right .bottom-wrapper .purchase-state { color: var(--error); text-transform: capitalize; }

.list-of-orders li .btn-purchase.approved { color: var(--white); background-color: var(--primary); color: black; font-size: 11px; font-weight: 600; padding: 4px 14px; border-radius: 4px; border: 1px solid var(--primary); text-transform: uppercase; transition: all 0.3s; cursor: pointer; }
.list-of-orders li .btn-purchase.approved:hover { color: var(--primary); background-color: transparent; }
.list-of-orders li .btn-purchase.cancel { color: var(--white); background-color: var(--error); color: var(--white); font-size: 11px; font-weight: 600; padding: 4px 14px; border-radius: 4px; border: 1px solid var(--error); text-transform: uppercase; transition: all 0.3s; cursor: pointer; }
.list-of-orders li .btn-purchase.cancel:hover { color: var(--error); background-color: transparent; }

#list-of-orders-buyer .cancelled .btn-purchase.cancel,
#list-of-orders-buyer .approved .btn-purchase.cancel { display: none; }

#buyer-approved-orders { display: flex; flex-direction: column; align-items: flex-end; gap: 10px; margin-top: 80px; }